.PORTFOLIO {
  padding-top: var(--gloubl-padding);
  padding-bottom: var(--gloubl-padding);

  .PORTFOLIO-content {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 30px;

      li {
        margin-right: 12px;
        padding: 15px;
        color: black;
        font-weight: bold;
      }

      li.active {
        background-color: var(--main-color);
        color: white;
      }

      li:hover {
        background-color: var(--main-color);
        color: white;
        cursor: pointer;
      }
    }

    .galary {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-row-gap: 1px;
      padding-left: 20px;
      padding-right: 20px;

      .imag {
        position: relative;
        overflow: hidden;

        img {
          max-width: 100%;
        }

        .text {
          position: absolute;
          background-color: white;
          width: 100%;
          padding: 15px;
          bottom: -150px;
          transition: 0.3s;

          h4 {
            font-weight: bold;
            margin-bottom: 10px;
          }

          p {
            color: var(--main-color);
          }
        }
      }

      .imag:hover {
        .text {
          bottom: 0px;
        }

        img {
          transform: rotate(3deg) scale(1.1);
        }
      }

    }

    .more {
      color: white;
      background-color: var(--main-color);
      padding: 15px 20px;
      margin: 30px auto;
      width: fit-content;
      text-transform: uppercase;

      .morelink {
        text-decoration: none;
        color: white;
        font-weight: bold;
      }
    }
  }
}



.video {
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;

  .video {
    width: 100%;
  }

  .text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    color: white;
    z-index: 1;
    background-color: var(--sec-color);
    text-align: center;

    h2 {
      text-transform: uppercase;
      font-weight: normal;
      margin: 0 0 30px;
    }

    p {
      margin-bottom: 30px;
    }

    button {
      background-color: black;
      color: white;
      padding: 10px 20px;
      border: none;
      text-transform: uppercase;
      cursor: pointer;
    }
  }


}

.video::after {
  content: '';
  background-color: rgb(0 0 0 /40%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}