:root {
  --main-color: #19c8fa;
  --sec-color: ;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 97px;
}

.special-titel {
  text-align: center;
}
.special-titel .content h2 {
  font-size: 50px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 60px;
  position: relative;
}
.special-titel .content h2::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid black;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -33px;
  background-color: white;
  z-index: 1;
}
.special-titel .content h2::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  bottom: -25px;
}
.special-titel .content p {
  width: 550px;
  color: #777;
  line-height: 1.5;
  max-width: 100%;
  margin: 0 auto 100px;
}

header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header img {
  height: 55px;
}
.header .mainnav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .mainnav .taggel-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  .header .mainnav .taggel-menu {
    display: none;
  }
}
.header .mainnav ul {
  display: flex;
}
.header .mainnav ul a {
  color: white;
  display: block;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
}
.header .mainnav ul a.active,
.header .mainnav ul a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
@media (max-width: 767px) {
  .header .mainnav ul {
    display: none;
  }
  .header .mainnav .taggel-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .header .mainnav .taggel-menu:hover + ul li a {
    padding: 15px;
  }
}
.header .mainnav .from {
  border-left: 1px solid white;
  margin-left: 30px;
  width: 40px;
  height: 30px;
  position: relative;
}
.header .mainnav .from i {
  position: absolute;
  /* margin-left: 18px; */
  font-size: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  color: white;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0px;
}

.landing {
  min-height: 100vh;
  background-image: url(../imag/landing.webp);
  background-size: cover;
  background-color: #1f2022;
  position: relative;
}
.landing .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  padding: 50px;
  background-color: rgba(15, 116, 143, 0.7);
  color: white;
  display: flex;
  justify-content: flex-end;
}
.landing .text .content {
  max-width: 500px;
}
.landing .text .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 2;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}
.landing .change-backgroung {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}
@media (max-width: 767px) {
  .landing .change-backgroung {
    display: none;
  }
}
.landing .fa-arrow-right {
  right: 30px;
}
.landing .fa-arrow-left {
  left: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  display: flex;
  bottom: 30px;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.service {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (min-width: 768px) {
  .service .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.service .service-content .srv-box {
  display: flex;
}
.service .service-content .srv-box i {
  margin-right: 30px;
}
.service .service-content .srv-box .text h3 {
  color: var(--main-color);
  margin-bottom: 17px;
}
.service .service-content .srv-box .text p {
  line-height: 2;
  color: #777;
}
@media (max-width: 767px) {
  .service .service-content .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 40px;
  }
  .service .service-content .srv-box i {
    margin: 0 0 40px;
  }
}

@media (min-width: 268px) {
  .container {
    width: 394px;
  }
}
@media (min-width: 540px) {
  .container {
    width: 530px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 730px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 945px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1165px;
  }
}/*# sourceMappingURL=style.css.map */